@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
.container {
  width: 50%;
  margin: auto;
}

.header {
  margin-top: 5em;
  margin-bottom: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks {
  margin: 2.5em 0;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 90%;
  }
}
.header__logo {
  font-size: 2.375em;
  color: #263238;
}

.header__button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  color: #263238;
  background: none;
  transition: 0.2s all ease;
  cursor: pointer;
}

.header__button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.header__button:active {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
}

.header__button .bxs-sun {
  display: none;
}

body.dark .header__logo {
  color: #eceff1;
}

body.dark .header__button {
  color: #eceff1;
}

body.dark .header__button:hover {
  background: rgba(255, 255, 255, 0.2);
}

body.dark .header__button:active {
  background: rgba(255, 255, 255, 0.1);
}

body.dark .header__button .bxs-sun {
  display: inline-block;
}

body.dark .header__button .bxs-moon {
  display: none;
}

.form__control {
  width: 100%;
  padding: 0.5rem 0.625rem;
  margin-right: 2.5rem;
  font-size: 0.875em;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1);
  color: #78909c;
  transition: 0.2s all ease;
}

.form__control::placeholder {
  color: #78909c;
}

.form__control:focus {
  border-color: #2979ff;
}

.form__control.--error {
  border-color: #f44336;
}

.form__button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #2979ff;
  color: #fafafa;
  cursor: pointer;
  transition: 0.2s all ease;
  overflow: hidden;
}

.form__button:hover {
  background: #2962ff;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.form__button:active {
  background: #448aff;
  transform: scale(0.9);
}

.form__button:active > .bx-plus {
  transition: 0.2s all ease;
  transform: translateY(-25px);
}

body.dark .form__control {
  background: #263238;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.2);
  color: #607d8b;
}

body.dark .form__control::placeholder {
  color: #607d8b;
}

body.dark .form__button:hover {
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.2);
}

.tasks {
  border-radius: 5px;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card {
  position: relative;
  padding: 0.625em 1.25em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card:last-child {
  border: none;
}

.card__text {
  color: #263238;
}

.card__status {
  margin-right: 1.25em;
}

.card__button {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.1);
  color: #fafafa;
  cursor: pointer;
  transition: 0.2s all ease;
  overflow: hidden;
}

.card__button .bx-check {
  transform: translateY(15px);
  transition: 0.1s all ease;
}

.card__button:active {
  transform: scale(0.9);
}

.card.--active .card__button {
  background: #2979ff;
}

.card.--active .bx-check {
  transform: translateY(0);
}

.card.--active .card__text {
  color: #78909c;
  text-decoration: line-through;
}

.card__delete {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  font-size: 18px;
  color: #78909c;
  transition: 0.2s all ease;
}

.card__delete:hover {
  color: #263238;
}

body.dark .tasks {
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.2);
}

body.dark .card__button {
  background: rgba(0, 0, 0, 0.2);
}

body.dark .card__text {
  color: #eceff1;
}

body.dark .card.--active .card__text {
  color: #607d8b;
}

body.dark .card__delete {
  color: #607d8b;
}

body.dark .card__delete:hover {
  color: #eceff1;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.actions__tasks {
  color: #263238;
}

.actions__filter {
  display: flex;
  gap: 0.625rem;
}

.actions__item-filter {
  text-decoration: none;
  color: #78909c;
  transition: 0.2s all ease;
}

.actions__item-filter:hover {
  color: #263238;
}

.actions__item-filter.--active {
  color: #2979ff;
}

.actions__clear-completed {
  text-decoration: none;
  color: #2979ff;
  transition: 0.2s all ease;
}

.actions__clear-completed:hover {
  color: #2962ff;
}

.actions__clear-completed:active {
  color: #448aff;
}

body.dark .actions__tasks {
  color: #eceff1;
}

body.dark .actions__item-filter {
  color: #607d8b;
}

body.dark .actions__item-filter:hover {
  color: #eceff1;
}

body.dark .actions__item-filter.--active {
  color: #2979ff;
}

@media (max-width: 600px) {
  .actions {
    flex-direction: column;
    gap: 10px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

body.dark {
  background: #263238;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
