.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.actions__tasks {
    color: $text-primary-light;
}

.actions__filter {
    display: flex;
    gap: 0.625rem;
}

.actions__item-filter {
    text-decoration: none;
    color: $text-secondary-light;
    transition: .2s all ease;
}

.actions__item-filter:hover {
    color: $text-primary-light;
}

.actions__item-filter.--active {
    color: $primary;
}

.actions__clear-completed {
    text-decoration: none;
    color: $primary;
    transition: .2s all ease;
}

.actions__clear-completed:hover {
    color: $primary-hover;
}

.actions__clear-completed:active {
    color: $primary-active;
}

body.dark .actions__tasks {
    color: $text-primary-dark;
}

body.dark .actions__item-filter {
    color: $text-secondary-dark;
}

body.dark .actions__item-filter:hover {
    color: $text-primary-dark;
}

body.dark .actions__item-filter.--active {
    color: $primary;
}

@media (max-width: 600px) {
    .actions {
        flex-direction: column;
        gap: 10px 0;
    }
}