.header__logo {
    font-size: 2.375em;
    color: $text-primary-light;
}

.header__button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    color: $text-primary-light;
    background: none;
    transition: .2s all ease;
    cursor: pointer;
}

.header__button:hover {
    background: rgba($color: #000000, $alpha: 0.2);
}

.header__button:active {
    background: rgba($color: #000000, $alpha: 0.1);
    transform: scale(0.9);
}

.header__button .bxs-sun {
    display: none;
}

body.dark .header__logo {
    color: $text-primary-dark;
}

body.dark .header__button {
    color: $text-primary-dark;
}

body.dark .header__button:hover {
    background: rgba($color: #ffffff, $alpha: 0.2);
}

body.dark .header__button:active {
    background: rgba($color: #ffffff, $alpha: 0.1);
}

body.dark .header__button .bxs-sun {
    display: inline-block;
}

body.dark .header__button .bxs-moon {
    display: none;
}