// Colors
$red: #f44336;
$primary: #2979ff;
$primary-hover: #2962ff;
$primary-active: #448aff;
$bg-light: #fafafa;
$text-primary-light: #263238;
$text-secondary-light: #78909c;
$text-primary-dark: #eceff1;
$text-secondary-dark: #607d8b;
